<div class="content_bottom">
    <div class="heading">
        <h3>Feature Products</h3>
    </div>
    <div class="see">
        <p><a href="#">See all Products</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <inventory-product image="assets/images/new-pic1.jpg" price="$849.99" id="5"></inventory-product>
    <inventory-product image="assets/images/new-pic2.jpg" price="$599.99" id="6"></inventory-product>
    <inventory-product image="assets/images/new-pic3.jpg" price="$799.99" id="7"></inventory-product>
    <inventory-product image="assets/images/new-pic4.jpg" price="$899.99" id="8"></inventory-product>
</div>