<div class="header_bottom_right">
					 	 <div class="slider">
							 <div id="slider">
			                    <div id="mover">
			                    	<div id="slide-1" class="slide">
									 <h1>Home Decor</h1>
									  <img src="assets/images/Paint.jpg"/>									  									  									  
									  <div class="clear"></div>
				                  </div>
				                  <div class="slide">
				                  </div>
			                 </div>
		                </div>
					 <div class="clear"></div>
		         </div>
		      </div>
		   <div class="clear"></div>