<div class="header_bottom_right">
					 	 <div class="slider">
							 <div id="slider">
			                    <div id="mover">
			                    	<div id="slide-1" class="slide">
									 <h1>Mobile Phones</h1>
									  <img src="assets/images/Mobile5.jpg" alt="$29.99"/>	
									  <p>&emsp;&emsp;&emsp;&emsp;&emsp;$29.99</p>									  									  
									  <div class="clear"></div>
				                  </div>
				                  <div class="slide">
				                  </div>
			                 </div>
		                </div>
					 <div class="clear"></div>
		         </div>
		      </div>
		   <div class="clear"></div>