<div class="content_top">
    <div class="heading">
        <h3>New Products</h3>
    </div>
    <div class="see">
        <p>
            <a href="#">See all Products</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <inventory-product image="assets/images/feature-pic1.jpg" price="$620.87"></inventory-product>
    <inventory-product image="assets/images/feature-pic2.jpg" price="$899.75"></inventory-product>
    <inventory-product image="assets/images/feature-pic3.jpg" price="$599.00"></inventory-product>
    <inventory-product image="assets/images/feature-pic4.jpg" price="$679.87"></inventory-product>
</div>